{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"stack":[[{"start":{"row":18,"column":23},"end":{"row":19,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":19,"column":0},"end":{"row":20,"column":0},"action":"insert","lines":["",""],"id":3}],[{"start":{"row":20,"column":0},"end":{"row":21,"column":14},"action":"insert","lines":["# Ignore files uploaded on localhost","/public/system"],"id":4}]],"mark":2,"position":2},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":21,"column":14},"end":{"row":21,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1432832863258,"hash":"162ac51ddfd975523586b87d6fda0ce430dba5a8"}